doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/Globals.js')
    script(src='/javascripts/S3Service.js')
  body
    block content
